:root {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --red: red;
}

body {
  margin: 0;
  background-color: white;
  color: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
    text-decoration: underline;
  }

.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  background: white;
}

.header > * {
    display: inline-flex;
    align-items: center;
    padding: 1rem;
  }

.header__svg {
    height: 1em;
  }

.header__nintendo-bg {
    background: var(--red);
  }

.header__nintendo {
    fill: white;
  }

.header__login-text {
    padding-right: 1rem;
    color: black;
  }

.hero {
  width: 100%;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.underline {
  display: inline-flex;
  border-bottom: 2px solid var(--red);
  line-height: 1.8;
}

.title {
  color: black;
  font-weight: 600;
  font-size: 1.5em;
  padding: 1rem 0;
}

.small-title {
  color: black;
  font-weight: 600;
}

.buy-digital {
  display: inline-flex;
  justify-content: space-between;
  padding: 1rem;
  background: var(--red);
  border-radius: 8px;
  color: white;
  margin-bottom: 0.5em;
}

.buy-digital__text {
    font-weight: 600;
  }

.buy-digital__arrow-right {
    height: 1em;
  }

.buy-points {
  display: inline-flex;
  align-items: center;
}

.buy-points__coin {
    height: 1.5em;
    margin-right: 0.5em;
  }

.buy-points__text {
    padding: 0.5em 0;
  }

.buy-points__link {
    color: red;
  }

.text-arrow {
  display: inline-flex;
  font-weight: 600;
  padding: 1rem 0;
}

.text-arrow__arrow {
    height: 1em;
    margin-left: 0.5rem;
  }

.add-wishlist {
  display: inline-flex;
  align-items: center;
  color: red;
  font-weight: 600;
}

.add-wishlist__heart {
    height: 2em;
    margin-right: 0.5rem;
  }

.add-wishlist__text {
    padding: 0.5em 0;
  }

.carousel {
  background: lavender;
}

.carousel-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.carousel-grid__img {
    border: 1px solid black;
    width: 100%;
    object-fit: contain;
  }

.carousel-grid__video {
    grid-column-start: 1;
    grid-column-end: 3;
  }

.presentation {
  position: relative;
}

.presentation__text p {
    font-weight: 400;
    color: black;
  }

.presentation__link {
    color: var(--red);
  }

.fade {
  position: absolute;
  z-index: 2;
  inset: 0;
  background: linear-gradient(
    rgba(250, 250, 250, 0) 30%,
    rgba(250, 250, 250, 0.7) 90%,
    rgb(250, 250, 250) 100%
  );
}

.specification-table {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
}

.specification-table__row {
    display: flex;
    padding: 0.75rem;
  }

.specification-table__row:nth-child(2n + 1) {
    background: lightgray;
  }

.specification-table__span {
    padding: 0 1rem;
    width: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

.specification-table__text {
    display: flex;
    align-items: center;
  }

.specification-table__title::after {
    content: "\0009";
    white-space: pre;
  }

.play-modes {
  display: flex;
  flex-direction: column;
  background: lightgray;
  margin: 1rem 0;
}

.play-modes__title {
    padding: 1rem 3rem;
  }

.play-modes__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 0.5rem;
  }

.play-modes__mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

.play-modes__svg {
    height: 2em;
  }

.play-modes__disclaimer {
    padding: 0 3rem 1.5rem;
  }

.play-modes__support-link {
    color: var(--red);
    text-decoration: underline;
  }

.rating {
  background: lightgray;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
}

.rating__title {
    padding-bottom: 2rem;
  }

.rating__title {
    padding-bottom: 2rem;
  }
.esrb {
  display: flex;
}
.esrb__svg {
    width: 4em;
    padding-right: 0.5rem;
  }
.esrb__description {
    display: flex;
    flex-direction: column;
  }
.esrb__separation {
    border-color: black;
    width: 100%;
  }

.online{
  display: flex;
  flex-direction: column;
  background: lightgray;
  padding: 1rem;
}

.online__svg {
    width: 12em;
    padding-bottom: 1.5rem;
  }

.online__link {
    color: black;
  }

.online__features {
    padding: 1rem 0;
    display: flex;
  }

.online__button {
    background: var(--red);
    color: white;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 8px;
  }

.legal {
  padding: 4rem 0;
}

.legal__link {
    color: var(--red);
    text-decoration: underline;
  }

.recommandation,.viewed-games {
  border-top: 1px solid lightgray;
  padding-bottom: 3rem;
}
.game-list {
  display:flex;
  padding-inline-start: 1.5em;
  overflow-x:scroll;
}

.game-card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-shrink:0;
  max-width: 33vw;
  padding-right:1rem;
}

.game-card__img {
    border-radius: 4px;
    width: 100%;
    object-fit: contain;
  }

.game-card__date {
    padding:0.5rem 0;
  }

.game-card__title {
    padding:0.5rem 0;
  }

.game-card__price {
    padding:0.5rem 0;
  }

.game-card__bottom {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

.game-card__heart {
    color: var(--red);
    height: 2em;
    margin-left: 0.5rem;
  }

.footer-nintendo {
  background:black;
  display:flex;
  justify-content:center;
  width:100%;
  padding:2rem 0;
  color:lightgray;
}

.footer-nintendo__container {
    display:flex;
    flex-direction:column;
  }

.footer-nintendo__left {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:1rem;
  }

.footer-nintendo__contact {
    display:flex;
    justify-content:space-between;
    padding-bottom:1rem;
  }

.footer-nintendo__contact-link {
    color:lightgray;
  }

.footer-nintendo__social {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:0 3rem;
  }

.footer-nintendo__social-links {
  display:inline-grid;
  grid-template-columns:repeat(4,1fr);
    justify-content:space-between;
  }

.footer-nintendo__svg {
    height:2em;
    padding:0.5rem;
    color:white;
    background:blue;
  }

.footer-nintendo__esrb {
    height:4em;
    padding:1rem;
  }

.footer-nintendo__legal {
    text-align:center;
  }
