* {
  box-sizing: border-box;
}

:root {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --red: red;
}

body {
  margin: 0;
  background-color: white;
  color: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
    text-decoration: underline;
  }

.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  background: white;
}

.header > * {
    display: inline-flex;
    align-items: center;
    padding: 1rem;
  }

.header__svg {
    height: 1em;
  }

.header__nintendo-bg {
    background: var(--red);
  }

.header__nintendo {
    fill: white;
  }

.header__login-text {
    padding-right: 1rem;
    color: black;
  }

.hero {
  width: 100%;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.underline {
  display: inline-flex;
  border-bottom: 2px solid var(--red);
  line-height: 1.8;
}

.title {
  color: black;
  font-weight: 600;
  font-size: 1.5em;
  padding: 1rem 0;
}

.buy-digital {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background: var(--red);
  border-radius: 8px;
  color: white;
  margin-bottom: 0.5em;
}

.buy-digital__text {
    font-weight: 600;
  }

.buy-digital__arrow-right {
    height: 1em;
  }

.buy-points {
  display: inline-flex;
  align-items: center;
}

.buy-points__coin {
    height: 1.5em;
    margin-right: 0.5em;
  }

.buy-points__text {
    padding: 0.5em 0;
  }

.text-arrow {
  display: inline-flex;
  color: red;
  font-weight: 600;
  padding: 1rem 0;
}

.text-arrow__arrow {
    height: 1em;
    margin-left: 0.5rem;
  }

.add-wishlist {
  display: inline-flex;
  align-items: center;
  color: red;
  font-weight: 600;
}

.add-wishlist__heart {
    height: 2em;
    margin-right: 0.5rem;
  }

.add-wishlist__text {
    padding: 0.5em 0;
  }

.carousel {
  background: lavender;
}

.carousel-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.carousel-grid__img {
    border: 1px solid black;
    width: 100%;
    object-fit: contain;
  }

.carousel-grid__video {
    grid-column-start: 1;
    grid-column-end: 3;
  }

.presentation {
  position: relative;
}

.presentation__text p {
    font-weight: 400;
    color: black;
  }

.presentation__link {
    color: var(--red);
  }

.fade {
  position: absolute;
  z-index: 2;
  inset: 0;
  background: linear-gradient(
    rgba(250, 250, 250, 0) 30%,
    rgba(250, 250, 250, 0.7) 90%,
    rgb(250, 250, 250) 100%
  );
}

.specification-table {
  display: flex;
  flex-direction: column;
}

.specification-table__row {
    display: inline-flex;
  }

.specification-table__svg {
    height: 100%;
    width: 100%;
  }

.specification-table__title {
    display: inline-block;
    width: 1rem;
  }
