* {
  box-sizing: border-box;
}

:root {
  --blue: #1a2456;
  --white: #f0efed;
  --lightpink: #efc2b3;
  --strongpink: #e28f74;
  --orange: #ff8b68;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: prompt, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--blue);
  text-align: left;
  background-color: var(--white);
}

.header {
  z-index: 100;
  top: 0;
  position: fixed;

  display: flex;

  color: var(--lightpink);

  margin: auto;
  padding: 0.5rem;
  width: 100%;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--blue);

    padding: 0.5em 1em;
    width: 100%;
  }

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.header__svg {
    margin-left: 1rem;
  }

.container {
  margin: 0 1rem;
  display: flex;
  position: relative;
  flex-direction: column;
}

.product {
  margin: 1rem 0;
}

.product__img {
    width: 100%;
    object-fit: contain;
  }

.product__info {
    display: flex;
    justify-content: space-between;
  }

.product__title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    line-height: 1.2;
    font-size: 1.25rem;
  }

.product__price {
    margin-left: 0.5rem;
  }

.sitemap {
}

.hero-container {
  display: flex;
  width: 100%;
}

.hero-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.footer {
  background-color: var(--blue);
  color: var(--lightpink);
}

.newsletter {
  padding: 3rem 0;
}

.newsletter__title {
    text-transform: uppercase;
    font-weight: 600;
  }

.newsletter__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -5px;
    margin-left: -5px;
  }

.newsletter__label {
    display: flex;
    width: 100%;
  }

.newsletter__input {
    display: flex;
    flex-grow: 1;
    border: 1px solid var(--lightpink);
    background: transparent;
    padding: 0.5rem;
  }

.newsletter__input::placeholder {
      color: #adb5bd;
    }

.newsletter__button {
    color: #212529;
    border-radius: 50rem;
    padding: 0.5rem 1.5rem;
    margin-left: 0.5rem;
    letter-spacing: 1px;
    background-color: var(--lightpink);
    border-color: var(--lightpink);
    text-transform: uppercase;
    font-weight: 600;
    border: none;
  }

.newsletter__button:disabled {
      opacity: 0.65;
    }

.social {
  margin-bottom: 3rem;
}

.social__link {
    display: inline-flex;
    margin-right: 0.5rem;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: var(--lightpink);
    padding: 0.5rem;
  }

.social__svg {
    background: transparent;
    margin: 0 auto;
    fill: var(--blue);
  }

.sitemap__nav {
    flex: 1 1;
  }

.sitemap__groups {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
  }

.sitemap__groups > * {
    flex: 1 1 35%;
    width: 100%;
  }

.sitemap__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

.sitemap__group__ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

.sitemap__group__title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    padding-bottom: 0.5rem;
  }

.sitemap__group__li {
    padding: 0.25rem 0;
    list-style-type: none;
  }

.sitemap__group__a {
    text-decoration: none;
    color: var(--lightpink);
  }

.copyright__link {
    color: var(--orange);
    text-decoration: none;
  }
